---
layout: base.njk
title: Política de cookies
section: legal
---

<div class="l-container">
  <h1>Política de cookies</h1>
  <p class="u-text-secondary u-mt-4">Este documento está en elaboración.</p>
</div>
