---
layout: base.njk
title: Términos de uso
section: legal
---

<article class="l-container">
  <h1>Términos de uso</h1>
  <p class="u-text-secondary u-mt-4">Este documento está en elaboración.</p>
</article>
